.header{
    width: 90%;
    height: 6rem;
    background-color: #6E07F3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0rem 0rem 1rem 1rem;
}
.h2-header{
    font-size: 1.8rem;
    color: #ffff;
}
@media screen and (max-width:1125px){
    .header{
        width: 80%;
    }
    .h2-header{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:861px){
    .h2-header{
        font-size: 1.3rem;
    }
    .header{
        width: 70%;
    }
}
@media screen and (max-width:664px){
    .h2-header{
        font-size: 0.9rem;
    }
    .header{
        width: 80%;
    }   
}
@media screen and (max-width:550px){
    .h2-header{
        font-size: 0.8rem;
    }
    .header{
        width: 80%;
    }
    
}