li{
    margin: 1rem;
    list-style: none;
}
.a-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}
.a-link:hover{
    color: rgb(0, 0, 0);
}