.nav{
    position: relative;
    left: 17rem;
}
.ul{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:1125px){
    .nav{
        left: 3rem;
    }
}
@media  screen and (max-width:721px){
    .nav{
        left: 0rem;
    }
    
}
