.nav{
    position: relative;
    left: 17rem;
}
.ul{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:1125px){
    .nav{
        left: 3rem;
    }
}
@media  screen and (max-width:721px){
    .nav{
        left: 0rem;
    }
}
@media screen and (max-width:550px){
    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #6E07F3;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        width: 50%;;
        margin-left: 7rem;
    }
    .nav.open {
        display: flex;
        top: 6rem; 
    }
    .ul {
        flex-direction: column;
        width: 100%;
    }
    .ul li {
        width: 100%;
        text-align: center;
        margin: 0.5rem 0;
    }
    .ul li a {
        color: #fff; 
    }
    .nav.open .ul li a {
        color: #fff; 
    }
}
