.div-main{
    width: 100%;
    position: relative;
    left: 0rem;
    background-color: #6E07F3;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    color: #fff;
}
.li-main{
    width: 70%;
    font-size: 1.1rem;
}

@media screen and (max-width:950px){
    .div-main{
        width: 70%;
    }
    .li-main{
        font-size: 1rem;
    }
    
}
@media screen and (max-width:400px){
    .div-main{
        width: 90%;
    }
    .li-main{
        font-size: 1rem;
        width: 100%;
    }
    
}
